<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia perguntas e respostas</title>
</head>
<body>
    <h1>Lista de peguntas</h1>
    <p>Nome: <%= nome %> </p>
    <p>Liguagem favorita: <%=linguagem %></p>

    <% if(msg) { %>
        <h1>Houve um erro inesperado</h1>
    <% } else { %>
        <h3>Tudo ok!</h3>
    <% } %>

    <ul>
        <% produtos.forEach(function(produto){ %>
            <li><%=produto.nome%>-<%=produto.preco%></li>
        <% }) %>
    </ul>
</body>
</html>